<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">
      Create New Product Group
    </div>
  </div>
  	<div class='form-container panel-body'><!-- main -->
		<div> <!-- form wrapper -->
	<form novalidate name='myform' class="form" ng-submit="submit()" >
        <input type='text' style="display:none;" name="topic" ng-model="topic" value="<% data.topicValue %>"></input>
         <div class="form-group">
            <label for="pgroupName">Name
	     <span ng-show="myform.$submitted || myform.uName.$touched">
		 <span ng-show="myform.pgName.$error.maxlength">(Name must be less than 500 characters)</span>
         	</span>
          </label>
          <input ng-maxlength="500" type="text" class="form-control" id="pgroupName" name="pgName"
			    ng-model="productGroup.name" placeholder="Product Group Name"  >
          </div>
         <button type="button" ng-click="reset(myform)" class="btn btn-default">Reset</button>
         <button type="submit" ng-class="{'btn':true, 'btn-default':true,'disabled':isDisabled}">Update</button>
         <span><% message %></span>
      </form>


</div><!-- form wrapper -->
</div><!-- form container panel body -->
        <div class="panel-footer"><a href="#/products-groups">Back</a></div>
</div><!-- panel primary -->

