<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">Products Items Update Section</div>
  </div>
  <div class="panel-body">
    In this section you can update the products.
  </div>

  <div style="font-weight:bold;list-style:none;padding:10px;">
    <div class="list-group-item" style="margin-bottom:10px;">
      <a style="text-decoration:none;color:#fff;background-color:#595;padding:10px;" href="#/products-edit">Current Products List</a></div><br>
    <div class="list-group-item" style="margin-bottom:10px;">
      <a  style="text-decoration:none;color:#fff;background-color:#559;padding:10px;" href="#/new-product">Add New Product</a></div>
  </div>
  <div class="panel-footer"><a href="#/products-area">Back</a></div>
</div>
