<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">Products Update Section</div>
  </div>
  <div class="panel-body">
    In this section you can update the products or products group. Please click the link to go to the desired area.
  </div>

  <div style="font-weight:bold;list-style:none;padding:10px;">
    <div class="list-group-item" style="margin-bottom:10px;">
      <a style="text-decoration:none;color:#111;background-color:#aab;padding:10px;" href="#/products-menu">Products</a></div><br>
    <div class="list-group-item" style="margin-bottom:10px;">
      <a  style="text-decoration:none;color:#111;background-color:#aab;padding:10px;" href="#/products-groups">Products Groups</a></div>
  </div>
</div>
