<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">Products Groups Section</div>
  </div>
  <div class="panel-body">


  <div style="font-weight:bold;list-style:none;padding:10px;">
    <div class="list-group-item" style="margin-bottom:10px;">
      <a style="text-decoration:none;color:#fff;background-color:#595;padding:10px;" href="#/products-groups-edit">Current Products Groups List</a></div><br>
    <div class="list-group-item" style="margin-bottom:10px;">
      <a  style="text-decoration:none;color:#fff;background-color:#559;padding:10px;" href="#/new-product-group">Add New Product Group</a></div>
  </div>
  </div>
</div>
