<h2>products group attributes edit</h2>
    <p>Edit Attributes</p>
    <form novalidate name='myform'  ng-submit="submit()" >
        <input type='text' style="display:none;" name="topic" ng-model="topic" value="<% data.topicValue %>"></input>
          <input ng-maxlength="500" type="text" class="form-control" id="pgroupName" name="pgName"
			    ng-model="data.group.name" placeholder="Product Group Name"  >
          </input>


   <hr class="featurette-divider">
    <button type="submit" ng-class="{'btn':true, 'btn-default':true,'disabled':data.isDisabled}">Update</button>
    <button type="button" ng-class="{'btn':true, 'btn-default':true,'disabled':data.isDisabled}" ng-click="cancel()">Cancel</button>
</form>



