<!-- area I: groups list loaded from the server -->
<div ng-if="isMenuShow" class="panel panel-default" ng-controller="ProductsGroupsSelectorController">
  <div class="panel-body">
    <products-group ng-repeat="item in productsGroups" data="item"
                    delete="deleteGroup({index:$index})"
                    edit="onEditClick({index:$index})"></products-group>
  </div>
</div>
<!-- area II: this is the menu that is shown after the user clicks on 'edit' button on one of the groups in the list above -->
<div ng-if="isEditShow">

  <h2> <% targetProductsGroup.name %></h2>
  <p><button class="btn btn-default" ng-click="onEditAttributesClick()">Edit Attributes</button>
    <button class="btn btn-default" ng-click="onAddProductsClick()">Add Products</button></p>
  <p><button class="btn btn-default" ng-click="cancelEditPlace()">Cancel</button></p>
</div>

<!-- area III: for showing attributes editing things -->
<div ng-if="isEditAttributesShow" ng-controller="EditProductsGroupAttributesController">
  <edit-products-group-attributes data="data" update="update()" cancel="cancel()"></edit-products-group-attribute>

</div>

<!-- area IV: arae for adding products to a group -->
<div ng-if="isAddProductsShow" ng-controller="AddProductsToGroupController">

  <div ng-if="isDashboardShow"><!-- main dashboard -->
    <h2>Add Products to group Section</h2>
    <h3><% targetProductsGroup.name %></h3>
    <!-- selected products -->
    <div>
      <ul>
        <li ng-repeat="item in selectedProducts" style="height:40px;">[<% $index %>]&nbsp; &rarr; &nbsp; <% item.name %>
        
        &nbsp;  <button ng-click="removeProduct($index)" class="btn btn-xs btn-primary" >Remove</button>
        
        </li>
      </ul>
     </div>
    
    <hr class="featurette-divider">
    <div>
      <button ng-class="{'btn':true, 'btn-default':true,'disabled':isDisabled}" ng-click="cancelAddProducts()">Cancel</button>
      <button ng-class="{'btn':true, 'btn-default':true,'disabled':isDisabled}" ng-click="showProductsSelector()">Select Products</button>
      <button ng-class="{'btn':true, 'btn-default':true,'disabled':isDisabled}" ng-click="addProductsToGroup()">Update</button>
      <span><% message %></span>
    </div>

  </div>
  <div ng-if="isSelectorShow" ng-controller="ProductsSelectorController"><!-- ui for selecting products that are to be added to the group -->
    <products-selector cancel="cancel()" ok="ok()" data="data"></products-selector>
  </div>

  

</div>
