<div>
	<div class="container">

		<div class="page-header">
			<h2> SSonyChem Private Ltd </h2>
		<p>Greener Chemistry for Healthy Life</p>
<div class="btn-group" role="group" aria-label="">
                  <a  class="btn btn-default" href="#">Home</a>
                  <a  class="btn btn-default" href="#/members/first/1">Products</a>
                  <a  class="btn btn-default" href="signin">Sign In</a>
                  <a  class="btn btn-default" href="signup">Register</a>
             
 
                </div>

		</div>
                
	</div>
</div>

